@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.Toastify__toast {
  background: var(--background);
  color: var(--foreground);
}

/* .Toastify__progress-bar {
  border-radius: 0 0 1rem 1rem !important;
} */

@keyframes sparkle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.text-shadow-black-background-black {
  text-shadow: 2px 2px 0 black;
  background-color: rgba(0, 0, 0, 1);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.text-shadow-black {
  text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white,
    -1px 1px 0 white, 0px 1px 0 white, 0px -1px 0 white, -1px 0px 0 white,
    1px 0px 0 white;
  /* background-color: rgba(0, 0, 0, 1); */
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* -moz-background-clip: text; */
}

.conic-gradient {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8b00ff,
    #ff0000
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: sparkle 3s linear infinite;
}

.rainbow-gradient {
  background: linear-gradient(
    135deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8b00ff,
    #ff0000
  );
   /* -webkit-background-clip: text; */
   /* background-clip: text; */
   /* -webkit-text-fill-color: transparent; */
   /* animation: sparkle 3s linear infinite; */
}

.rainbow-gradient-reverse {
  background: linear-gradient(
    225deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8b00ff,
    #ff0000
  );
  /* -webkit-background-clip: text; */
  /* background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* animation: sparkle 3s linear infinite; */
}

.rainbow-gradient-text {
  background: linear-gradient(
    135deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8b00ff,
    #ff0000
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* animation: sparkle 3s linear infinite; */
}


/* .rainbow-gradient::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  backdrop-filter: blur(0.5px);
} */