@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.font-indie-flower {
  font-family: var(--font-indie-flower), cursive;
}

.font-acme {
  font-family: var(--font-acme), sans-serif;
}

.font-agbalumo {
  font-family: var(--font-agbalumo), serif;
}

.font-rubik {
  font-family: var(--font-rubik), sans-serif;
}

.Toastify__toast {
  background: var(--background);
  color: white;
}

/* .Toastify__progress-bar {
  border-radius: 0 0 1rem 1rem !important;
} */

@keyframes sparkle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.text-shadow-black-background-black {
  text-shadow: 2px 2px 0 black;
  background-color: rgba(0, 0, 0, 1);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.text-shadow-black-thin-background-black {
  text-shadow: 1px 1px 0 black;
  background-color: rgba(0, 0, 0, 1);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.text-shadow-black {
  text-shadow:
    1px 1px 0 white,
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    0px 1px 0 white,
    0px -1px 0 white,
    -1px 0px 0 white,
    1px 0px 0 white;
  /* background-color: rgba(0, 0, 0, 1); */
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* -moz-background-clip: text; */
}

.icon-shadow {
  filter: drop-shadow(2px 2px 0 #000);
}

.icon-shadow-white {
  filter: drop-shadow(2px 2px 0 #fff);
}

.conic-gradient {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8b00ff,
    #ff0000
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: sparkle 3s linear infinite;
}

.rainbow-gradient {
  background: linear-gradient(
    135deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8b00ff /* #ff0000 */
  );
  /* -webkit-background-clip: text; */
  /* background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* animation: sparkle 3s linear infinite; */
}

.rainbow-gradient-reverse {
  background: linear-gradient(
    225deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8b00ff,
    #ff0000
  );
  /* -webkit-background-clip: text; */
  /* background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* animation: sparkle 3s linear infinite; */
}

.rainbow-gradient-text {
  background: linear-gradient(
    135deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8b00ff,
    #ff0000
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* animation: sparkle 3s linear infinite; */
}

.sparkle {
  animation: sparkle 3s linear infinite;
}

/* .rainbow-gradient::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  backdrop-filter: blur(0.5px);
} */

/* Apply rainbow-gradient on hover */
/* .button:hover,
.link:hover, */
.rainbow-gradient-hover:hover {
  background: linear-gradient(
    135deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8b00ff,
    #ff0000
  );
  /* Uncomment these for text gradient effect */
  /* -webkit-background-clip: text; */
  /* background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* animation: sparkle 3s linear infinite; */
}

/* swiper slide */
.swiper {
  width: 100%;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  height: auto;
  /* padding-bottom: 1rem; */
  /* overflow: visible !important; */
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  /* width: 300px; */
  /* height: 300px; */
  
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  cursor: pointer;
}

.swiper-button-next {
  filter: drop-shadow(1px 2px 0 #000);
}

.swiper-button-prev {
  filter: drop-shadow(-1px 2px 0 #000);
}

.swiper {
  --swiper-navigation-color: #ffffff;
  --swiper-pagination-color: #ffffff;
  /* --swiper-pagination-bullet-size: 10px; */
  --swiper-pagination-bullet-inactive-color: #d3d3d3;
}

.swiper-pagination-bullet {
 filter: drop-shadow(1px 2px 0 #000);
}

/* Only affect the coverflow swiper */

.coverflow-swiper .swiper-wrapper {
  overflow: visible !important;
}


.rhap_play-pause-button {
  filter: drop-shadow(1px 2px 0 #000);
  color: black;
}

.text-outline-gray {
  /* text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000; */
  text-shadow: 1.25px 1.25px 0 #868686;
  background-color: rgba(0, 0, 0, 1);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}